.ContentDivStyle
{
    margin-top:80px;
}

.editorclass{
    border: solid#F1F1F1 1px;
    padding-left:5px;
    margin-left:15px;
    padding-bottom:50px;        
}

.btngrp{
    padding : 5px;
    margin: 1px;
}
#tdAction{
    vertical-align: middle;
    padding:5px;
}
