.card-title
{
  font-size: 12px !important;
  font-weight: bold;
  color:black;
  
}
.container{
  display: flex;
  justify-content: center;
  margin-top:50px;
  margin-bottom: 50px;
  padding-left: 100px;
}
.flexcontainer{
  display: flex;
  flex-direction : column;
  flex-grow: 2;
}
.articleContainer{  
  display: flex;
  flex-direction : row;
}
.frameworks{
  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-left:15px;
}

.card-img-top
{
  
  width : 330px;
  height: 260px; 
  margin-left: -15px;

}

.card-text
{
    margin-bottom: 3px;
    font-size: 10px !important;    
}
.articleContainer{margin-top: -20px;}
.articlecontainer h5
{
  color: white;
  padding: 9px;
}

.articleButton
{        
    border-color: #919aa1;
    color: #919aa1;
    border-radius: 12px;
    margin-bottom: 12px;
    
}

.cardDiv
{
  padding : 0px !important;  
  max-height: 170px;
  width : 540px;
  margin-left:1px;
}


@media screen and (min-width: 1430px) {

} 


.articleDiv
{
  background-color: #F9F9F3;
  margin-top:20px;
  margin-bottom:10px;  
}
.otherArticletitle
{
  font-size: 24px;
  font-family: sans-serif;
  color:#ff4e17;
  padding-left: 1px;  
  padding-bottom: 5px;
  border-bottom: gainsboro solid 3px;
}
.articleTitle
{
  
  font-size: 24px;
  font-family: sans-serif;
  color:#ff4e17;
  padding-left: 80px; 
}
.articleTitleRight
{
  text-align: right;
  font-size: 24px;
  font-family: sans-serif;
  color:#ff4e17;
  padding-right: -5px;
}
.artTitle
{
  font-size: 22px;
}
.artAuthor
{
  font-size: 12px;
  color: grey;
}
.articlecontainer
{
  margin-top:100px;
}

.card-body
{
  padding-left:1px;
  padding-right:1px;
  width:285px;
}

.subTitleArticle
{
  color:#ee920c;
  font-size: 11px;
  
}
.articleview
{
  text-align: right;
  font-size: 8px;
  font-family: sans-serif;
  
}


.singleArticleImage
{
  width: 100%;
  height: 300px;
}

.caption {
  width:100%;
  bottom: .1rem;
  position: absolute;
  height: 20%;
  padding-left:12px;
  padding-top:15px;
  background:#000;
  background: -webkit-linear-gradient(bottom, #000 60%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(bottom, #000 20%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: -o-linear-gradient(bottom, #000 20%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: linear-gradient(to top, #000 20%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.thumbnail {
  border: 0 none;
  box-shadow: none;
  margin:0;
  padding:0;
}

.caption h4 {
  color: #fff;
  -webkit-font-smoothing: antialiased;
}


.singlearticleauthor
{
  padding-top:15px;
}
.singlearticleview
{
  text-align: right;
  font-size: 8px;
  font-family: sans-serif;
  padding-top:15px;
}
.singlearticleheader
{
  display: inherit;  
}

.otheraritclerow
{
  padding-top:20px;
  padding-bottom:20px;
  border-bottom:  gainsboro solid 1px;
}
.singlearticletitle
{
  padding-top:15px;
}
.singlearticlebody1
{
  padding-top:15px;
}
.singlearticlebody2
{
  padding-top:15px;
}
.singlearticlemain
{
  margin-top : 80px;
}




@media  screen and (max-width: 1920px) {
  
  .cardDiv
  {  
    width:530px;    
  }
  .cardSpace1
  {
    margin-right: -160px;
    margin-left: -120px;
  }
  .cardSpace2
  {
    margin-right: -220px;
    margin-left: -140px;
  }
  .articlecontainer
  {
    height:900px;
  }
}
@media screen and (max-width: 1500px) {
  .articlecontainer
  {
    height:100%;
  }

}
@media screen and (max-width: 767px) {
  .articlecontainer
  {
    height:100%;
  }
  .cardDiv
  {  
    width:100%;    
  }
  .card-body
  {
    width:100%;
  }
  .articleContainer{      
    flex-direction : column;
    padding-left:15px;
  }
  .frameworks{
    flex-direction: column  ;
  }

}




.containerImg {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}
.containerImg img {vertical-align: middle;}
.content{
  height: 100%;
}

.containerImg .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 105%;
  padding: 20px;
  margin-left: -15px;
  opacity: 0;
}
.content:hover{
  opacity: 1.8;
  transition: .5s ease;
}

.articlePar{
  display: flex;  
  font-weight: bold;
}
.content{
  display: flex;
  align-items: center;
}


.otherArticles{
  display: flex;
  flex-direction: column;
}
.otheraritclerow{
  display:flex;
  
}
.arTitle , .arAuthor{
  color: black;
  font-size: 20px;
  font-family: sans-serif;
}
.arAuthor{
  font-size: 12px;
}
.arthead{
  font-size: 20px;
  border-bottom: gainsboro solid 1px;
}