.eventsDiv
{
  
  height:332px;
  overflow-y: scroll;
  width:380px;
}

#divStyle::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  #divStyle::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  #divStyle::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  #divStyle::-webkit-scrollbar-thumb:hover {
    background: rgb(143, 139, 139); 
    
  }

.container
{
  font-size: 12px;
  text-align: left;
}
.subTitle
{
  color:#ee920c;
  font-size: 11px;
  padding-bottom: 12px;
}
.cardEvent
{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0;
  margin-left:30px;
  padding:30px;
}




@media  screen and (min-width: 1520px) {
  .eventsDiv
{
  
  height:332px;
  overflow-y: scroll;
  width:480px;
}
}