.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    max-height: 250px !important;
}

.bgRow{
  
  background-color: ivory;
  display: flex;
  justify-content: center;
}
.bgRowChild{
  margin-top :-20px;
  width:31%;  
}
.teamContainer{
  background-color:#fdb713 ;
  margin-bottom: -21px;
}
/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }
}


.divBanner
{
  padding-top: 12px;  
  padding-left:80px;
  padding-right:80px;
}


@media screen and (max-width: 360px) {
.divBanner
{
  padding:20px;  
}
}
.divCarouselBg
  {
    padding-top: 70px;    
    height: 280px;   
      background: linear-gradient(#ff4e17 ,#ee920c );
      
  }

.Img-style
{
    height: 50px;    
}

.dropdownStyle
{
  padding-left:50px;
}

.ContentDivStyle
{
  padding-left: 24px;
}

.h3Style
{
  color:white;
}


.card
{
  padding:30px !important;  
  margin-left: 25px;
  margin-right: 23px;

}
.car-title
{
  height: 1.1em !important;
}



.card h2{
  align-content: center;
  color:#ff4e17;
}

.MetricsDiv
{
 display: flex;
 justify-content: space-evenly; 
}




.nav-tabs .nav-link.active,
 .nav-tabs .nav-item.show .nav-link {
   color: white;
   font-weight: bold;
   background-color: transparent;   
   border: none;
 }

 /*Custom CSS */
  .cardTitle{
  text-align: left;
   margin-top:-20px;   
  font-family: sans-serif;
  font-size: 24px;
  color:#ff4e17 !important;
 }

 .carousel-indicators
{
	margin-bottom: -20px;  
	padding-left: 2px;
}
.carousel-indicators-numbers li{
	background-color: gainsboro;
}
.carousel-indicators-numbers li.active{

	background-color: #ff4e17;   
}
.subTitle
{
  color:#ee920c
}

.carouselDiv
{
  color:white;
  font-size:26px;
  height : 130px;
	font-family: sans-serif;
}

.EventDiv
{
  margin-top:-30px;
}

.highlightHmDiv
{
  margin-top:-30px;    
  margin-right:10px;
  margin-left:-40px;
}
.EventHmDiv
{
  margin-top:-30px;    
  margin-right:10px;
  margin-left:-50px;
}


/* 1920 * 1080 */

.visionHmDiv
{
  margin-top:-30px;    
  margin-left:50px;  
}

@media screen and (max-width: 768px) {
  .bgRow{
  
    background-color: ivory;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .bgRowChild{
    margin-top :-20px;
    width:100%;  
    margin-bottom: 30px;
  }
  }
  
  