.nav-tabs {
    border-bottom: transparent;
  }
  
  .nav-tabs .nav-item {
    margin-bottom: -1px;
  }
  
  .nav-tabs .nav-link {
    border: 1px solid transparent;
    color: black; 
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: transparent;
    border-bottom-color:white;
  }
  
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    color: #FFFFFF;
    font-weight: bold;
    background-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-Bottom-color: white;
    text-decoration: underline;
  }

  
.teamDiv
{  
  margin-bottom:10px;
  margin-top:20px;
}
span {
  color: #FFFFFF;
  font-weight: normal;
  text-align: center;
  font-family: sans-serif !important;
}

.teamDiv h5
{  
  margin-left:95px;
  margin-right:20px;
  color: black;  
}
.teamDivUl
{
  margin-top:10px;
  margin-left:80px;
  margin-right:80px;
  color: white;  
}

.nav-link
{
  font-size:12px;
}
